@charset "utf-8";

form p{
	position: relative;
	text-indent: 0;
	margin: 5px 0;
}
fieldset ul, fieldset li{
	border:0;
	margin:0;
	padding:0;
	list-style:none;
}
fieldset li{
	clear:both;
	list-style:none;
	padding-bottom:10px;
}

fieldset input{
	float:left;
}
fieldset label{
	width:140px;
	float:left;
}
input,
textarea{
	color: #666666;
	font-size: 12px;
	border: 1px solid #dedede;
	padding: 2px;
}
input:focus,
textarea:focus{
	border: 1px solid #ababab;
}
input[type=submit],
input[type=reset],
input[type=button]{
	background: #eeeeef;
	padding: 2px 20px;
	border: 1px solid #ababab;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover{
	background: #ccccff;
}